.git/
.github/
.aider*

.gitignore
.ignore
AGENTS.md
README.md

ansible/

bin/*
!bin/gox

config/
config.yaml
config.override.yaml

ca/
ca.crt
ca.key
ip.txt
success.txt
gox.tar.gz

check.sh
check.override.sh

docker-compose.yaml
docker-compose.test.yaml
docker-compose.build.yaml
